<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body,
      #selector {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      body {
        background: black;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #wrapper {
        text-align: center;
      }
      #screen {
        height: 100vh;
        width: 125vh;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
      }
      button {
        position: absolute;
      }
      #loading {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100vh;
        display: none;
        color: white;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">
      <canvas id="screen"></canvas>
    </div>
    <button>Start</button>
    <div id="loading">Loading game...</div>

    <script>
      const btn = document.querySelector("button");
      btn.addEventListener("click", function () {
        run("${ROM_FILE_NAME}");
        document.querySelector("#loading").style.display = "block";
        btn.style.display = "none";
      });
    </script>
  </body>

  <script id="romScript" src="${ROM_FILE_JS}"></script>
  <script src="wasm/${CORE_FILE_JS}"></script>

  <script type="module" src="main.js"></script>
</html>
