[submodule "cores/blastem"]
	path = cores/blastem
	url = https://github.com/piepacker/blastem.git
[submodule "cores/lutro"]
	path = cores/lutro
	url = https://github.com/piepacker/lutro.git
[submodule "cores/mgba"]
	path = cores/mgba
	url = https://github.com/piepacker/mgba.git
[submodule "cores/mesen"]
	path = cores/mesen
	url = https://github.com/piepacker/mesen.git
[submodule "cores/mame"]
	path = cores/mame
	url = https://github.com/piepacker/mame.git
[submodule "cores/mesens"]
	path = cores/mesens
	url = https://github.com/piepacker/mesens.git
[submodule "cores/sameboy"]
	path = cores/sameboy
	url = https://github.com/piepacker/sameboy.git
[submodule "cores/frontend"]
	path = cores/frontend
	url = https://github.com/piepacker/arkanoid.git
[submodule "cores/np2kai"]
	path = cores/np2kai
	url = https://github.com/piepacker/np2kai.git
